body{
    background:url("https://i.pinimg.com/originals/a6/55/71/a65571c737ff48eb37a2e2ea821cecdb.jpg");
    background-position: 20px;
}
.principal{
    position: relative;
    background: pink;    
    height: 120px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50;
    z-index: 1;
    text-align: center;

}
/*.clase-titulo{
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(170, 125, 155);
}*/
.clase-foto{
    top: 120px;
    border-radius: 120px;
    width: 180px;
    height: 180px;
    position: relative;
    margin: 10px left;
    display: inline-block;
}
